# Core Dependencies
torch
transformers==4.51.3
accelerate==1.6.0
diffusers
tqdm
numpy
scipy
soundfile
librosa
Flask
requests
mcp
langdetect
kokoro-onnx
onnxruntime-gpu

# VibeVoice specific
ml-collections
absl-py
fastapi
uvicorn[standard]
llvmlite
numba
pystray
Pillow
